@media screen and (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% 60% 20%;
    place-items: center;
  }
  .logo {
    margin: 0px auto 0px 20%;
  }
  .hero-photo {
    grid-column: 2/-1;
    grid-row: 1/-1;
    background-image: url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100%;
  }
  .main-content {
    align-items: flex-start;
    margin-left: 20%;
    width: auto;
  }
  .main-content__title {
    text-align: left;
  }
  .main-content__description {
    text-align: left;
  }

  /* Attribution */
  .attribution {
    position: absolute;
    bottom: 0;
    right: 5%;
    color: aliceblue;
  }
  .attribution a {
    color: #fff;
  }
}
@media screen and (min-width: 1300px) {
  .main-content {
    margin-left: 10%;
  }
  .main-content__title {
    font-size: 62px;
    letter-spacing: 15px;
    max-width: 500px;
  }

  .main-content__description {
    line-height: 30px;
    width: 85%;
    max-width: 500px;
  }
  .input-label {
    max-width: 480px;
  }
  #input-email {
    border-radius: 40px;
    width: 85%;
    padding: 22px 30px;
  }
  #input-submit {
    border-radius: 40px;
    max-width: 110px;
  }
  .attribution {
    font-size: 18px;
  }
}
